body {
  background: black;
  color: #ffcded;
  display: grid;
  place-items: center;
  height: 100vh;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

h1 {
  font:
    bold 1.5rem Consolas,
    Monaco,
    monospace;
  border-right: 0.1em solid #ffcded;
  width: 8em;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 2s steps(21, end),
    blink-caret 0.5s step-end infinite alternate;
}
