nav {
  font-family: var(--title-font);
  font-size: 54px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  a {
    font-weight: normal;
    text-decoration: none;
    color: var(--main-color);
  }
}
@media (max-width: 800px) {
  nav {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 0;
  }
}
