* {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #fff7ec;
  --main-color: #272727;
  --main-font: "Courier New", Courier, monospace;
  --title-font: "Jacquard 12";
}

.retroUi {
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px 0 0 var(--main-color);
  padding: 1rem;

  &:focus {
    box-shadow: 3px 3px 0 0 var(--main-color);
  }
}
