* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fff7ec;
  --main-color: #272727;
  --main-font: "Courier New", Courier, monospace;
  --title-font: "Jacquard 12";
}

.retroUi {
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px 0 0 var(--main-color);
  padding: 1rem;

  &:focus {
    outline: none;
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 0 0 var(--main-color);
  }
}
